#content
{
    grid-area: cont;
    background-color: $quaternary-color;
    div
    {
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      gap:1rem;
      margin: 10px;
      img
      {
        flex:1;

      }
      div
      {
        
        display:flex;
        flex-direction: column;
        flex:1;
        padding: 20px;
        text-align: center;
        p
      {
        padding:2rem 5rem; 
      }
      }
      
    }        
        }
