@media (max-width:768px)
{
    #parent
    {
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "header"
    "top-nav"
    "cont"
    "footer";
    }
    #top-nav
    {
        ul
        {
        li
        {
            font-weight: 100;
        }
    }
    }
    #leftside-bar
    {
        display: none;
    }
    #content
    {
        div
        {
            flex-direction: column;
            img
            {
                width:100%;
                height:auto;
            }
        }
    }
    h1
    {
        font-size: 2rem;
    }

}