h1
  {
    font-size: 2.2rem;
  }


h2 {
    font-family: "Segoe Script", cursive;
    font-size: 1.8em;
    
  }

  h3 {
    font-family: "Segoe Script", cursive;
    font-size: 1.2em;
    margin: 10px;
    text-decoration: underline;
  }
  

p {
    font-weight: 300;
    text-align: justify;
}