@keyframes myfirstanimation {
    0% {
        background-color: #ff0000;
       transform: translateX(0);
    }

    25% {
         transform: translateY(100%);
    }

    50% {
        background-color: purple;
        transform: translate(100%, 100%);
    }
    
    75% {
        transform: translateX(100%);
    }

    100% {
        background-color: green;
        transform: translateX(0);
    }
}