.cont-lg {
    width: 90vw;
    margin: 0 auto;
}

.cont-md {
    width: 80vw;
    margin: 0 auto;
}

.cont-sm {
    width: 70vw;
    margin: 0 auto;
}

.cont-xs {
    width: 60vw;
    margin: 0 auto;
}