h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
    text-transform: capitalize;
    font-weight: 900;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    font-size: 3rem;
    color: $primary-color;
}

p {
    font-weight: 300;
    text-align: justify;
}