body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color:gainsboro;
}

.calculator {
  text-align: center;
}

#display {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.8em;
  background-color: aquamarine;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: mediumspringgreen;
}

button {
  padding: 15px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: green;
  font-weight: 1000;
}
